.search-form {
    position: relative;
    &__input {
        width: 100%;
        border: 1px solid #959595;
        border-radius: 12px;
        padding: 14px 20px 14px 49px;
        &::placeholder {
            font-family: 'Proxima Nova';
            letter-spacing: 0.01em;
            color: #959595;
        }
        &:hover,
        &:active,
        &:focus {
            box-shadow: -0.0625rem 0px 0.5rem 0.0625rem #ffcbcb;
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        position: absolute;
        left: 17px;
        top: 50%;
        transform: translateY(-50%);
    }
    &__icon {
        width: 20px;
        height: 20px;
    }
}