.sort-by {
    display: none;
    background-color: #212129;
    position: absolute;
    box-shadow: 0px 10px 25px rgba(15, 15, 23, 0.63);
    border-radius: 10px;
    padding: 20px;
    right: 0;
    left: -180px;
    top: 70px;
    &.active {
        display: inline-block;
    }
    &__title {
        font-size: 18px;
        line-height: 135%;
        margin-bottom: 10px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}