.nose 
    .nose__text.filter-title Nose
    .nose__inner
        img(src="@img/nose.svg", alt="nose").nose__image
        .nose__minmax-wrapper
            span.nose__minmax min
            span.nose__minmax max